body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code{
    font-family:'Courier New', Courier, monospace;
}

#sidebar{
    background-color: aquamarine;
}

#content{
    background-color: lightgray;
}

.data{
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    display: flex;
}

.gambar-data{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    vertical-align: top;
}

.gambar-data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.konten-data{
    flex: 1;
}

.konten-data div.nama-data{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.konten-artikel p.nim-data{
    font-size: 16px;
    margin-bottom: 10px;
}
.konten-artikel p.alamat-data{
    font-size: 16px;
    margin-bottom: 10px;
}
.konten-artikel p.hp-data{
    font-size: 16px;
    margin-bottom: 10px;
}
.konten-artikel p.angkatan-data{
    font-size: 16px;
    margin-bottom: 10px;
}
.konten-artikel p.status-data{
    font-size: 16px;
    margin-bottom: 10px;
}