*{
    margin: 0;
    padding: 0;
    
}
.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 20px;
}
.nav ul{
    background: maroon;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #16a085;
    
}
.nav ul li:hover a{
    color: snow;
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #bdc3c7;
    text-decoration: none;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: skyblue;
}
